* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.nav-arrow {
    position: fixed;
    display: flex;
    top: 85%;
    right: 5%;
    user-select: none;
    z-index: 999;
}
.left-arrow, .right-arrow {
    background-color: #c3b9a2;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    position: relative;
    transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
}
.left-arrow {
    margin-right: 4px;
    pointer-events: none;
}
img:nth-child(0), img:nth-child(1) {
    position: absolute;
    top: 50%;
    left: 50%;
}
#left-arrow-img {
    opacity: .5;
    transform: translate(-50%, -50%) rotate(90deg);
}
#right-arrow-img {
    transform: translate(-50%, -50%) rotate(-90deg);
    pointer-events: visibleStroke;
}
.right-arrow:hover, .left-arrow:hover {
    transform: scale(1.1);
}

.outer-wrapper {
    height: 100vw;
    width: 100vh;
    transform: rotate(-90deg) translateX(-100vh);
    transform-origin: top left;
    overflow-x: hidden;
    overflow-y: scroll;
    position: absolute;
    scrollbar-width: none;  /*---Firefox property---*/
    -ms-overflow-style: none; /*---i.e. family---*/
}
::-webkit-scrollbar {
    display: none;  /*---Chrome and Safari*/
}

.wrapper {
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 400vw;
    transform: rotate(90deg) translateY(-100vh);
    transform-origin: top left;
}


.slide {
    height: 100vh;
    width: 100vw;
}
.slide1 {
    background-color: teal;
}
.slide2 {
    background-color: tomato;
}
.slide3 {
    background-color: slateblue;
}
.slide4 {
    background-color: palevioletred;
}